<div class="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid navdecor">
        <ul class="nav navbar-nav customMargin">
          <li>
             <a routerLink="/login" routerLinkActive="active-link">Login</a>
          </li>
          <li>
              <a routerLink="/user" routerLinkActive="active-link">User</a>
          </li>
          <li>
              <a routerLink="/approver" routerLinkActive="active-link">Approver</a>
          </li>
          <li>
              <a routerLink="/register" routerLinkActive="active-link">Register</a>
          </li>
          <li>
            <a routerLink="/addBank" routerLinkActive="active-link">Add Bank</a>
        </li>
        <li>
            <a routerLink="/addUser" routerLinkActive="active-link">Add User</a>
        </li>
        </ul>
      </div>
    </nav>
</div>